
<div class="container" style="background-image:url(https://uploads.metropoles.com/wp-content/uploads/2018/04/10113058/WhatsApp-Image-2018-04-10-at-11.28.16.jpeg)">
  <div class="container">
    <h1>Pedreiro.com</h1>
    <p>Find the guy to do what you should do by yourself!!</p>
    <%= link_to 'Click here!', offers_path, class: "btn btn-primary" %>
  </div>
</div>


<div class="container d-flex">
  <h2 class="text-center-landing">The best workers with low cost</h2>
  <div class="cards">

   <div class="card">
    <img src="https://image.flaticon.com/icons/svg/1657/1657242.svg">
    <h4>Find a handman</h4>
    <p>More than 5.000 workers</p>
  </div>

  <div class="card">
    <img src="https://image.flaticon.com/icons/svg/123/123392.svg">
    <h4>Book a date</h4>
    <p>Any service in any date</p>
  </div>

  <div class="card">
    <img src="https://image.flaticon.com/icons/svg/1534/1534565.svg">
    <h4>Problem solved!</h4>
    <p>More than 10.000 clients satisfied</p>
  </div>
</div>
</div>


<div class="footer">
  <div class="">
    <a href="#">
      <i class="fab fa-fw fa-facebook-f">
      </i>
    </a>
    <a href="#">
      <i class="fab fa-fw fa-twitter">
      </i>
    </a>
    <p>
      Pedreiro.com
    </p>
  </div>
</div>

