<html>
<head>
  <meta charset="UTF-8">
  <title>Create a portfolio</title>
</head>
<body>
  <div>
  <h3>Add a portfolio</h3>
<%= simple_form_for(portfolio) do |f| %>
  <%= f.file_field :photo %>
  <%= f.input :photo_cache, as: :hidden %>
  <%= f.input :description  %>
<% end %>
</div>

</body>
</html>
