<div class="container">
  <div class="card p-3 m-3">
    <h1>New Booking</h1>
    <%= simple_form_for [@offer, @booking] do |f| %>
      <%= f.input :start_time, html5: true, as: :date%>
      <%= f.input :end_time, html5: true, as: :date%>

      <%= f.submit "Book now!", :class => "btn btn-warning" %>
    <% end %>

  </div>
</div>


