
<div class="container">
  <h1>Offers List</h1>
  <% @offers.each do |offer|%>
    <div class="card p-3 m-3">
      <h3><%= link_to offer.title, offer_path(offer) %></h3>
      <p><%= offer.user.name %></p>
      <p><%= offer.description %></p>
    </div>
  <% end %>
</div>

