<h1>Offers Index</h1>

<%= link_to 'Create a new Offer', new_offer_path %>
<% @offers.each do |offer|%>
<div>
  <%= link_to offer.title, offer_path(offer) %>
  <%= offer.description %>
</div>
<% end %>
