<h1>Offers List</h1>


<% @offers.each do |offer|%>
<div>
  <h3> Offer title: <%= link_to offer.title, offer_path(offer) %></h3>
  <p>Description: <%= offer.description %></p>
  <p>Offer owner: <%= offer.user.name %></p>
</div>
<% end %>
