<h1>Offer Show</h1>
<h2>Offer title: <%= @offer.title %></h2>
<p>Offer owner: <%= @offer.user.name %></p>
<p>Offer description: <%= @offer.description %></p>
<%= link_to 'book now', new_offer_booking_path(@offer) %>
